/* ajouter une police à partir d'un dossier
***** déposer vos polices dans un dossier font
****** déclarer vos polices dans votre fichier css 
******* Utiliser la propriété @font-dace
*/
@font-face {
    font-family: "PlayfairDisplaySC-Regular" ;
    src: url("./font/PlayfairDisplay-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

html{
    font: normal 10px #000, Arial, Verdana, Helvetica, sans-serif;
    color: #000;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Supprimer les marges/ padding native du body */
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 3rem;
    margin: 3rem 0 1.5rem 0;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

p{
    margin: 1rem 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cta{
    display: inline-block;
    padding: .5em 1em;
    font-size: 1.2rem;
    color: #000;
    border: 1px solid #000;
}

.header{
    position: relative;
    background: url('./img/header.jpg') 0 35% no-repeat;
    background-size: 100%;
    width: 100%;
    height: 600px;
}

section{
    margin: 6rem 0;
}

.comprendre-img{
    position: relative;
    width: 200px;
    height: 400px;
    margin: 0 1em;
    border-radius: 20px;
    overflow: hidden;
}

.comprendre-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
}

img{
    max-width: 100%;
}
li{
    background: white;
    color: #000;
    display: inline-block;
    padding: 0.2em 1em;
    margin: .5rem;
    border-radius: 10px;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
} 
footer{
    background: #000;
    color: #FFF;
    padding: 2em;
    text-align: center;
}
/******* responsive *******/
@media only screen and (max-width: 1024px){

}