body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
background-image: linear-gradient(to right top, #000000, #0c0b0b, #151414, #1b1a1a, #212120);
}
 
h2{
    font-size: 2rem;
    margin: .5rem 0 2rem 0;
    font-weight: 400;
}

p{
    line-height: 1.5rem;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


.header{
    padding: 1em 2em;
    
}

.logo{
    width: 155px;
    height: auto;
}

.logo-img {
    max-width: 100%;
}

.title2{
    padding-top: 8rem;
    color: #d9D9D9;
    font-size: 4rem;
    text-transform: uppercase;
}

.title2 span{
    display: block;
}

.chaussures{
    position: relative;
    height: 900px;
    width: 100%;
}

.bg-chaussure{
    position: absolute;
    top: 0;
    right: 0;
    background: url('img/air-force-one.jpg') 0 0 no-repeat;
    background-size: 100%;
    width: 50%;
    height: 900px;
}

.chaussures-content{
    width: 50%;
    text-align: center;
}

.article{
    margin: 1rem 0;
    padding: 1em 2em;
    background: #a6cff8;
    border-radius: 20px;
}
.aside{
    margin: 1rem 0;
    padding: 1em 2em;
    background: #edf9b8;
    border-radius: 20px;
}

.footer{
    padding: 2em 1em;
    background: rgb(176, 160, 253);
}

.btn{
    display: block;
    padding: 1em 1.5em;
    background: #f588f9;
    color: #FFF;
}

.pub{
    padding: 4vw;
    background: #FFF;
    border-radius: 20px;
    text-align: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}


.item {
    display: inline-block;
    margin: .5rem;
}

.item a {
    color: #D9D9D9;
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 0.8em 1em;
    background: white;
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
