html {
  margin: 0;
  padding: 0;
  font: normal 10px "karla", sans-serif;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

h1{
    font-size: 4rem;
}

h2{
    margin: 1rem 0 0 0;
}

h3{
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0 0 0;
}

p{
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.portfolio{
    margin-top: 6rem;
    padding-bottom: 6em;
}

  

.box{
    position: relative;
    overflow: hidden;
}

.box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-info{
    padding: 1em;
    display: flex;
}

.info-content {
    margin-top: auto;
}

.box-1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.box-info-1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.box-info-2{
    grid-row-start: 2;
    grid-row-end: 3;
}

.box-2{
    grid-column-start: 2;
    grid-column-end: 4;
}

.box-3{
grid-row-start: 3;
  grid-row-end: 5;
}

.box-info-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box-4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box-5{
    grid-column-start: 1;
    grid-column-end: 3;
}
.box-6{
    grid-column-start: 2;
    grid-column-end: 3;
}
.box-info-5{
    grid-column-start: 1;
}

.box-contact{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column: 3/4;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.contact-content{
    padding: 1em 1em 4em 1em;
    margin-top: auto;
    
}

.btn{
    display: inline-block;
    color: #FFF;
    padding: .7em 2em;
    background: #000;
    color: #FFF;
    font-size: 1.4rem;
}
