
/*******************  NORMALIZE ***********************/
*{
    box-sizing:border-box;
    outline: none;
}
html{
    margin:0;
    padding:0;
    font: normal 10px #000, Arial, Verdana, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}
body{
    margin:0;
    padding:0;
    width:100%;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, strong, em, u, small, div, table, tbody, tr, td, form, input, select, textarea, fieldset, label, option{
    margin:0;
    padding:0;
	font-size: 100%;
    text-decoration: none;
    box-sizing:border-box;
}
b, strong{
    font-weight: 700;
}
img{
    margin:0;
    padding:0;
    border:none;
    vertical-align: middle;
}
textarea{
    resize:vertical;
}
input[type=submit]{
    cursor: pointer;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    box-sizing:border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
figure{
    margin: 0;
}