@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("font/PlayfairDisplay-Regular.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-content,
.contact-illu{
    flex: 1;
    padding: 4em;
}

.contact-illu{
    background-image: linear-gradient(to right top, #ab6bd1, #e76ab3, #ff7a91, #ff9876, #ffbb6c, #fab966, #f5b761, #f0b55b, #f58c53, #f0615d, #dd3772, #b7198a);
}

.contact-content{
    background: #fdd6aa;
}


.content-rs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ico-rs{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    margin: 0 10px;
}

.ico-rs svg{
    width: 30px;
    height: 30px;
    padding: 0.3em;
}